<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: I was supposed to put some information about myself here, but it seems that instead I've written this. Yeah!</p>
    </body>
</html>
